:root {
    --dark: hsl(210, 10%, 15%);
    --light: hsl(0, 0%, 96%);
    --light-transparent-plus: hsla(0, 0%, 96%, 15%);
    --blue: hsl(216, 82%, 49%);
    --dark-text: hsl(0, 0%, 15%);
    --light-text: hsl(0, 0%, 96%);
    --light-text-transparent: hsla(0, 0%, 96%, 75%);
}

* { box-sizing: border-box; }

html, body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    color: var(--light-text);
    border-bottom: 1px solid var(--light-transparent-plus);
    padding: 12px 32px;
}

#site-header h3 {
    flex: 50%;
    font-size: calc(16px + 2vmin);
}

#site-header div {
    flex: 50%;
    display: flex;
    justify-content: flex-end;
}

#site-nav a {
    color: var(--light-text-transparent);
    text-decoration: none;
    font-size: calc(8px + 2vmin);
    padding: 8px 16px;
    transition: .4s ease;
}

#site-nav a:hover {
    color: var(--light-text);
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

#wrapper {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: transparent;
}

#form-title {
    flex: 40%;
    max-width: 40%;
    height: auto;
    margin-top: calc(100vh / 6);
    padding: 16px 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#img {
    flex: 50%;
    max-width: 50%;
}

#title, #description {
    flex: 100%;
    max-width: 100%;
    text-align: center;
    color: var(--light-text);
}

#title {
    margin-bottom: 12px;
    font-weight: bold;
}

#title a {
    color: var(--light-text);
}

#description {
    margin-top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6em;
    font-style: italic;
}

#survey-form {
    flex: 460%;
    max-width: 460px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--light);
    padding: 52px 44px;
}

.form-item {
    flex: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label {
    flex: 100%;
    max-width: 100%;
    font-size: 21px;
    color: (--dark-text);
    margin: 0 0 4px;
}

input, textarea, #dropdown {
    flex: 100%;
    max-width: 100%;
    border: 1px solid hsla(0, 0%, 0%, 20%);
    border-radius: 4px;
    font-size: 18px;
    padding: 8px 12px;
    cursor: pointer;
    transition: .1s;
}

#dropdown option {
    font-size: 18px;
}

input:hover, textarea:hover, #dropdown:hover {
    border: 1px solid var(--blue);
    box-shadow: 0 0 0 3px hsla(196, 99%, 40%, 50%);
    outline: none;
}

.level {
    flex: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

.level > label {
    flex: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-radio {
    width: 24px;
    height: 24px;
    margin: 0;
    margin: 0 8px;
    outline: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.custom-radio > .custom-radio-check {
    flex: 10px;
    width: 10px;
    max-width: 10px;
    height: 10px;
    text-align: center;
    font-weight: bold;
    background-color: var(--light);
    border-radius: 50%;
    box-shadow: 0 0 4px 4px hsla(0, 0%, 0%, 20%);
    box-sizing: border-box;
}

.custom-checkbox {
    width: 24px;
    height: 24px;
    margin: 0;
    margin-right: 8px;
    outline: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox > .custom-checkbox-check {
    flex: 100%;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
}

.custom-checkbox:hover, .custom-radio:hover {
    border-color: var(--blue);
    box-shadow: 0 0 0 3px hsla(196, 99%, 40%, 50%);
}

.checked {
    background-color: dodgerblue;
    border-color: var(--light);
    box-shadow: 0 0 0 3px hsla(196, 99%, 40%, 50%);
}

.unchecked {
    border-width: 2px;
    border-style: solid;
    border-color: hsla(0, 0%, 0%, 30%);
}

#submit {
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    border: 1px solid var(--blue);
    padding: 8px 16px;
    background-color: transparent;
    font-size: 1em;
    transition: .3s;
    cursor: pointer;
}

#submit:hover {
    background-color: var(--blue);
    color: var(--light);
}

@media screen and (max-width: 768px) {
    body {
      padding-left: 16px;
      margin-right: 16px;
    }
  
    #wrapper {
        flex-wrap: wrap;
        justify-content: center;
        padding: 16px;
    }

    #form-title {
        flex: 100%;
        max-width: 100%;
    }
}